<%= form_for @comments do |f| %>

    <label> Enter your Comment title </label>
    <%= f.text_field :title %><br/><br/>

    <label> Write your reviews here </label>
    <%= f.text_field :body %><br/><br/>

    <%= f.hidden_field :article_id %><br/><br/>

    <%= f.hidden_field :user_id %><br/><br/>

    <%= f.submit %>

<% end %>