 <%= form_for  @article do |article| %>
  
    <label> Enter article title </label>
    <%= article.text_field :title %><br/>
     </br>
  
    <label> Enter article description </label>
    <%= article.text_field :body %><br/>
    </br>
  
    <label> Enter category article belongs to  </label>
    <%= article.collection_select :category_id, Category.all, :id, :name, prompt: "Select the Category" %><br/>
    </br>
  
    <label> Publish date:  </label>
    <%= article.date_field :publish_date, order: [:day, :month, :year] %><br/>
    </br>
  
    <label> Enter the image URL </label>
    <%= article.file_field :feature_image_url %><br/>
    </br>
  
    <label> Published date </label>
    <%= article.check_box :is_published, checked: "checked" %><br/>
    </br>
  
    <%= article.submit %>
    </br>
  
  <% end %>