<p id="notice"><%= notice %></p>
<h2> Articles show page </h2>
<h3><%= @article.title %></h3>(<%=link_to @article.category.name, category_path%>)
<p><%= @article.body %> </p>
<p><%= @article.category_id %></p>
<p><%= @article.publish_date %> </p>
<p><%= @article.feature_image_url %></p>
<p><%= @article.is_published %> </p>
<% if user_signed_in? and (can? :manage, @article or current_user.id == @article.user_id) %>
    <%= link_to "edit", article_edit_path(@article.id) %>
    <%= link_to "Delete", @article , method: :delete, data: { confirm: "sure?" } %><br/><br/> <br/>
<% end %>


<h1> Comments Below </h1>

<% Comment.where(:article_id => @article.id).each do |comment| %>
  <b> <%= comment.title %>: </b> <%= comment.body %>
<% end %>

<div align=left>

<% Comment.where(:article_id => @article.id).each do |comment| %>
  <b> Title: </b> <%= comment.title %><br/> <b> Body: </b> <%= comment.body %><br/>
  <% if comment.user_id == current_user.id  or @article.user_id == current_user.id or can? :manage, comment or can? :edit, comment%>
    <%= link_to 'edit', comment_edit_path(comment.id)%>
    <%= link_to "Delete", comment , method: :delete, data: { confirm: "sure?" } %><br/>
  <% end %>
  <br/>
<% end %>

<div align=left>

<%= form_for Comment.new, :html => {:class => "form", :id => "articleForm"} do |f| %>

  <% if user_signed_in? %>

    <%= f.hidden_field :article_id, value: @article.id %><br/>

    <label> Enter Title </label>
    <%= f.text_field :title %> <span id="titleError"></span>  <br/>

    <label> Your comments </label>
    <%= f.text_area :body %> <span id="bodyError"></span> <br/>

    <%= f.submit "save", id: "articleSubmit" %><br/>

  <% end %>
  </div>

<% end %>

  </div>


<script>
  var title = document.getElementById('comment_title');
  var comment = document.getElementById('comment_body');
  var formHandle = document.getElementById('articleForm');
  var submitHandle = document.getElementById('articleSubmit');

  var titleErrorHandle = document.getElementById('titleError');
  var bodyErrorHandle = document.getElementById('bodyError');

  formHandle.addEventListener('submit',function(e){
    if (title.value === "") {
      titleErrorHandle.innerHTML = "Title field cannot be empty";
      e.preventDefault();
    }else{
      titleErrorHandle.innerHTML = "";
    }

    if (comment.value === "") {
      bodyErrorHandle.innerHTML = "Title field cannot be empty";
      e.preventDefault();
    }else{
      bodyErrorHandle.innerHTML = "";
    }
    setTimeout(function(){
        submitHandle.disabled = false;
      },100);

  },true);

</script>

